@use "sass:color";
@use "../../../styles/constants" as *;

.result {
    border: 1px solid $border-color-main;
}

h3.resultTitleHeader {
    text-align: left;
}

.resultDetail {
    text-align: left;
}